<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <base href="/">
</head>
<body>
    <div><a [routerLink]="[ '/employeelist' ]">Employee List</a></div>
    <div><a [routerLink]="[ '/employeedetail' ]">Employee Detail</a></div>
    <div><a [routerLink]="[ '/department-list' ]">Department List</a></div>
    <div><a [routerLink]="[ '/department-list/:id' ]">Department Detail</a></div>
    <router-outlet></router-outlet>
</body>
</html>