<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <base href="/">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-6">
                <div class="row">
                    <button [routerLink]="[ '/employeelist' ]"  type="button" class="btn btn-primary">Employee List</button>
                    <button [routerLink]="[ '/employeedetail' ]"  type="button" class="btn btn-primary">Employee Detail</button>
                    <button [routerLink]="[ '/department-list' ]"  type="button" class="btn btn-primary">Department List</button>
                    <button [routerLink]="[ '/department-list/:id' ]"  type="button" class="btn btn-primary">Department Detail</button>
                </div>
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
</body>
</html>
